# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
    push:
        branches: ["master"]
    pull_request:
        branches: ["master"]

jobs:
    build:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                node-version: [16.x]

        steps:
            - uses: actions/checkout@v3
            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v3
              with:
                  node-version: ${{ matrix.node-version }}
                  cache: "npm"
              env:
                  DROPBOX_SECRET: ${{secrets.DROPBOX_ACCESS_TOKEN}}
            - run: npm ci
            if: github.platform == ubuntu-latest
              run: npm run dist-l
              run: curl -X POST https://content.dropboxapi.com/2/files/upload --header 'Authorization:Bearer $DROPBOX_SECRET' --header 'Content-Type:application/octet-stream' --header 'Dropbox-API-Arg:{"path":"/renamerremake.deb","mode":{".tag":"overwrite"}}' --data-binary @dist/renamer_0.9.0_amd64.deb

    build-win:
            runs-on: windows-latest
            strategy:
                matrix:
                    # macos-latest,
                    node-version: [16.x]

            steps:
                - uses: actions/checkout@v3
                - name: Use Node.js ${{ matrix.node-version }}
                  uses: actions/setup-node@v3
                  with:
                      node-version: ${{ matrix.node-version }}
                      cache: "npm"
                  env:
                      DROPBOX_SECRET: ${{secrets.DROPBOX_ACCESS_TOKEN}}
                - run: npm ci
                - run: npm run dist-w
                # - run: curl -X POST https://content.dropboxapi.com/2/files/upload --header 'Authorization:Bearer $DROPBOX_SECRET' --header 'Content-Type:application/octet-stream' --header 'Dropbox-API-Arg:{"path":"/renamerremake.deb","mode":{".tag":"overwrite"}}' --data-binary @dist/renamer_0.9.0_amd64.deb
