name: Node.js CI

on:
    push:
        branches: ["master"]
    pull_request:
        branches: ["master"]

jobs:
    build:
        runs-on: ubuntu-latest

        strategy:
            matrix:
                node-version: [16.x]

        steps:
            - uses: actions/checkout@v3
            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v3
              with:
                  node-version: ${{ matrix.node-version }}
                  cache: "npm"
                  token: ${{ secrets.DROPBOX_ACCESS_TOKEN }}
            - run: npm ci
            - run: npm run dist-l
            - run: curl -H 'Authorization:${{ secrets.DROPBOX_ACCESS_TOKEN }}' -H 'Content-Type:application/octet-stream' -H 'Dropbox-API-Arg:{"path":"/renamerremake.deb","mode":{".tag":"overwrite"}}' --data-binary @"dist/renamer_0.9.0_amd64.deb" -X POST https://content.dropboxapi.com/2/files/upload
            # - run: curl -H "Authorization:Bearer $DROPBOX_SECRET" -H 'Content-Type:application/octet-stream' -H 'Dropbox-API-Arg:{"path":"/renamerremake.deb","mode":{".tag":"overwrite"}}' --data-binary @"dist/renamer Setup 0.9.0.exe" -X POST https://content.dropboxapi.com/2/files/upload
